/* 
    Created on : May 31, 2019, 10:53:13 AM
    Author     : Theonlysmartboy <Theonlysmartboy@github.com>
*/
.parent{
    -fx-background-image:url(images/splashscreen.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.label{
    -fx-text-fill: #ffffff;
}
.textfield{
    -fx-background-color:#333333;
    fx-cursor-color:white;
    fx-text-fill:#ffffff;
}
.button{
    -fx-background-color:#4B0082;
    -fx-background-radius:5px;
    -fx-border-radius:5px;
    fx-text-fill:#FFFFFF;

}
button:hover{
    -fx-background-color: #FFD700;
    -fx-border-style:solid;
    -fx-border-radius:5px;
    fx-text-fill:#ffffff;

}
button:active{
    -fx-background-color: #330033;
    -fx-border-style:solid;
    -fx-border-radius:5px;
    fx-text-fill:#ffffff;

}
.signupbtn{
    fx-text-fill:#DAA520;
}
.signupbtn:hover{
    fx-text-fill:#FFD700;
}
.signupbtn:active{
    fx-text-fill:#DAA520;
}

.pane{

}
.icon{

}